:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --accent: lime
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  min-width: 350px;
  width: 100vw;
  height: 100vh;
  padding: 0 0;
  place-items: center;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #d0d0d0;
  color: #222;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button:hover {
  border-color: var(--accent);
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.icon-button {
  border: 0px solid transparent;
  background-color: transparent;
  padding: 0px;
  padding-top: 3px;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.square-w:after {
  content: "";
  display: block;
  box-sizing: border-box;
  padding-bottom: 100%;
}

.flex-spacer{
  flex: 1;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}